main video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;

  margin-top: 4em;
}

main img {
  width: 100%;
}

.chrys {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 2em;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.stilphotos {
margin: auto;
  margin-top: -39.4em;
  margin-left: 27em;
  width: 67%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.fam {
    margin: auto;
    margin-top: 4em;
    margin-left: 27em;
    width: 67%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

h1 {
  background-color: rgb(228, 65, 65);
  text-align: center;
  color: white;
  margin-top: 0.5em;
  font-size: 42px;
  font-family: "Bruno Ace SC", cursive;
}

body {
  background-color: rgb(33, 32, 32);
  margin: 1.5em;
  margin-bottom: 5em;
}

p {
  color: rgb(193, 124, 65);
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
}

.grid_1-1 p {
  margin-left: -6em;
  margin-top: 2em;
  font-size: 35px;
}

.filmplakat {
  width: 150%;
  margin-left: 2em;
  margin-top: 1.5em;
}

iframe {
width: 100%;
height: auto;

aspect-ratio: 16/9;

margin-top: 1em;
  
}

@media screen and (max-width:768px){

  h1 {
    background-color: rgb(228, 65, 65);
    text-align: center;
    color: white;
    margin-top: 0.5em;
    font-size: 23px;
    font-family: "Bruno Ace SC", cursive;
  }

  .filmplakat {
    width: 180%;
    margin-left: 0em;
    margin-top: 1.5em;
  }

  .grid_1-1 p {
    margin-left: -4.5em;
    margin-top: 2em;
    font-size: 16px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.5em;
  }

  .chrys {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 4em;
    margin-left: 0em;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.stilphotos {
margin: auto;
  margin-top: -22em;
  margin-left: 14.2em;
  width: 67%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.fam {
    margin: auto;
    margin-top: 1.8em;
    margin-left: 14.2em;
    width: 67%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  
  margin-top: 0.5em;
  }

  main video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  
    margin-top: 2.5em;
  }

  body {
    margin-bottom: 1.5em;
  }

}